* {
  box-sizing: border-box;
}
body {
  padding: 40px 8px 10px 8px;
  margin: 0;
}
main {
  background-color: #dae3e3;
  color: #555555;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  text-align: center;
}
header {
  padding: 20px 0 0 0;
}
h1 {
  font-size: 45px;
  font-weight: 900;
}
p {
  font-size: 22px;
}
h1, p, h2 {
  letter-spacing: 3px;

}
figure {
  background-color: white;
  padding: 35px 45px 15px 45px;
  max-width: 90%;
  margin: auto;

}
img {
  border: 0.1px solid #555555;
  border-radius: 7px;
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
  
}
figcaption {
  margin: 15px auto 0 auto;
}
h2 {
  padding: 50px 0;
}
ul {
  max-width: 60%;
  text-align: left;
  margin: auto;
  list-style: none;
}
#cita {
  padding: 50px 0;
  font-style: italic;
  font-size: 10px;  
}
#fuente {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 0 20px 0;

}